# –î–∞—Ç–∞ —Ü—ç–≤—ç—Ä–ª—ç—Ö

In [7]:
# –•—ç—Ä—ç–≥—Ç—ç–π —Å–∞–Ω–≥—É—É–¥—ã–≥ –æ—Ä—É—É–ª–∞—Ö
import pandas as pd
import re
import os
from datetime import datetime, timedelta

In [8]:
main_path = 'input'
df_18 = pd.read_csv(main_path + '/ads_data_2025-06-18_13-59-54.csv')
df_20 = pd.read_csv(main_path + '/ads_data_2025-06-20_17-44-43.csv')
df_22 = pd.read_csv(main_path + '/ads_data_2025-06-24_17-08-50.csv')

In [9]:
df= pd.concat([df_18, df_20, df_22], ignore_index=True)

### –•—ç—Ä—ç–≥–≥“Ø–π –±–∞–≥–∞–Ω–∞ –∞—Ä–∏–ª–≥–∞

In [10]:
df.drop(columns=['page_number','ad_number','phone', '–¢”©–ª–±”©—Ä–∏–π–Ω –Ω”©—Ö—Ü”©–ª:'], inplace=True)

### –•–æ–æ—Å–æ–Ω —É—Ç–≥—ã–≥ —É—Å—Ç–≥–∞—Ö

In [11]:
df.isna().sum()

url               0
title             0
location          0
date              0
id                0
price             0
ad_text           0
–¢–∞–ª–±–∞–π:          70
–ë–∞—Ä–∏–ª–≥—ã–Ω —è–≤—Ü:    70
clean_coords     15
dtype: int64

In [12]:
df.dropna(subset=['–¢–∞–ª–±–∞–π:', '–ë–∞—Ä–∏–ª–≥—ã–Ω —è–≤—Ü:'], inplace=True )

### –î–∞–≤—Ö–∞—Ü—Å–∞–Ω —É—Ç–≥—ã–≥ —É—Å—Ç–≥–∞—Ö

In [13]:
df[df.duplicated(subset=['id', 'title', 'date'], keep=False)].count()

url              75
title            75
location         75
date             75
id               75
price            75
ad_text          75
–¢–∞–ª–±–∞–π:          75
–ë–∞—Ä–∏–ª–≥—ã–Ω —è–≤—Ü:    75
clean_coords     75
dtype: int64

In [14]:
df.drop_duplicates(subset=['id', 'title', 'date'], keep='first',inplace=True)

### Title –±–æ–ª–æ–Ω ad_text —É—Ç–≥—ã–≥ —à–∞–ª–≥–∞–∞–¥ dic-—Ç—ç–π —Ç–æ—Ö–∏—Ä—Å–æ–Ω —Ç–æ—Ö–∏–æ–ª–¥–æ–ª —à–∏–Ω—ç –±–∞–≥–∞–Ω–∞–¥ –Ω—ç–º–Ω—ç.

In [15]:
# name.xlsx-–∏–π–≥ –∞—á–∞–∞–ª–∂, dictionary –±–æ–ª–≥–æ—Ö
replace_df = pd.read_excel('D:/Projects/Office/02_data_cleaning/input/name.xlsx', header=1)
replace_df.columns = ['title', 'mytitle']  
replace_dict = dict(zip(replace_df['title'], replace_df['mytitle']))

In [16]:
# –§—É–Ω–∫—Ü: title –±–æ–ª–æ–Ω ad_text –±–∞–≥–∞–Ω—ã–≥ —à–∞–ª–≥–∞–∂, —Ç–æ—Ö–∏—Ä—Å–æ–Ω mytitle-–≥ –±—É—Ü–∞–∞–Ω–∞
def find_office_name(row):
    texts = []
    if isinstance(row['title'], str):
        texts.append(row['title'].lower())
    if isinstance(row['ad_text'], str):
        texts.append(row['ad_text'].lower())

    for key, value in replace_dict.items():
        key_lower = str(key).lower()
        if any(key_lower in text for text in texts):
            return value
    return None

In [17]:
df['mytitle'] = df.apply(find_office_name, axis=1)
df = df.rename(columns={'mytitle' : 'office_name'})

### –•–æ—Ä–æ–æ –¥“Ø“Ø—Ä—ç–≥ —Å–∞–ª–≥–∞—Ö

In [18]:
import util as ut

In [19]:
 #District name
df['district'] = df['location'].apply(ut.get_district)

In [20]:
#Khoroo
df['khoroo'] = df['location'].apply(ut.get_khoroo)

### –ë–∞–π—Ä—à–∏–ª –æ–π—Ä–æ–ª—Ü–æ–æ–≥–æ–æ—Ä —Ö–∞—è–≥–ª–∞—Ö

In [21]:
# location 
df_loc = pd.read_csv('D:/Projects/Office/02_data_cleaning/input/location.csv')

In [22]:
df = df.merge(df_loc, how='left', on='location')

df['mylocation'].value_counts()
df['mylocation'].isna().sum()

0

In [23]:
df[df['mylocation'].isna()][['location','mylocation']]

Empty DataFrame
Columns: [location, mylocation]
Index: []

### –ó–∞—Ä–∏–º –±–∞–≥–∞–Ω—ã –Ω—ç—Ä–∏–π–≥ ”©”©—Ä—á–ª”©—Ö

In [24]:
name_cols = {
           'Title' : 'title',
            'price' : 'price_total',
            'Date'  : 'date',
            'Time'  : 'time',
            'id'    : 'ad_id',
            'loc'   : 'location',
            'message' : 'ad_text',
            '–¢–∞–ª–±–∞–π:' : 'size',
            '–ë–∞—Ä–∏–ª–≥—ã–Ω —è–≤—Ü:'          : 'progress_cons',
            '–¢”©–ª–±”©—Ä–∏–π–Ω –Ω”©—Ö—Ü”©–ª:'      : 'payment_terms',
            }

df.rename(columns=name_cols, inplace=True)
df.columns

Index(['url', 'title', 'location', 'date', 'ad_id', 'price_total', 'ad_text',
       'size', 'progress_cons', 'clean_coords', 'office_name', 'district',
       'khoroo', 'mylocation'],
      dtype='object')

### –¢–∞–ª–±–∞–π–Ω –±–æ–ª–æ–Ω “Ø–Ω–∏–π–Ω –º—ç–¥—ç—ç–ª–ª–∏–π–≥ —Ü—ç–≤—ç—Ä–ª—ç–∂ —Ç–æ–æ –±–æ–ª–≥–æ—Ö

In [25]:
df[['price_total','size']]

                     price_total    size
0                   482.04 —Å–∞—è ‚ÇÆ   74 –º¬≤
1                   254.41 —Å–∞—è ‚ÇÆ   39 –º¬≤
2                      7.3 —Å–∞—è ‚ÇÆ   65 –º¬≤
3      1.4 –¢—ç—Ä–±—É–º ‚ÇÆ\n“Ø–Ω—ç —Ç–æ—Ö–∏—Ä–Ω–æ  210 –º¬≤
4        175 —Å–∞—è ‚ÇÆ\n193.95 —Å–∞—è ‚ÇÆ   34 –º¬≤
...                          ...     ...
1511                   990 —Å–∞—è ‚ÇÆ  220 –º¬≤
1512                1.1 –¢—ç—Ä–±—É–º ‚ÇÆ   87 –º¬≤
1513                   685 —Å–∞—è ‚ÇÆ  131 –º¬≤
1514                   990 —Å–∞—è ‚ÇÆ  135 –º¬≤
1515  3.6 –¢—ç—Ä–±—É–º ‚ÇÆ\n3.8 –¢—ç—Ä–±—É–º ‚ÇÆ  477 –º¬≤

[1516 rows x 2 columns]

### –¢–∞–ª–±–∞–π–Ω —Ö—ç–º–∂—ç—ç

In [26]:
df['area'] = df['size'].apply(
    lambda x: float(re.findall(r'\d+[\.\d]*', str(x))[0]) if pd.notnull(x) and re.findall(r'\d+[\.\d]*', str(x)) else None
)
df[['area','size']]
df[['area','size']].dtypes

area    float64
size     object
dtype: object

In [27]:
df = df[df['area'] >= 10 ]

### –û—Ñ—Ñ–∏—Å—ã–Ω “Ø–Ω—ç

–•—ç—Ä—ç–≥–≥“Ø–π —É—Ç–≥—ã–≥ –∞—Ä–∏–ª–≥–∞–∂ Float –±–æ–ª–≥–æ—Ö

In [28]:
df['price'] = df['price_total'].apply(lambda x: re.findall(r'\d+[\.\d]*', x)[0]).astype(float)
df[['price','price_total']]
df[['price','price_total']].dtypes

price          float64
price_total     object
dtype: object

–¢—ç—Ä –±—É–º –≥—ç—Å—ç–Ω —É—Ç–≥—ã–≥ —Ç–æ–æ –±–æ–ª–≥–æ—Ö

In [29]:
mask = df['price_total'].str.contains('–±—É–º', na=False) & (df['price'] < 16)
df.loc[mask, 'price'] = df.loc[mask, 'price'] * 1000

In [30]:
df['price'].describe()
df.sort_values(by='price', ascending=False)

,url,title,location,date,ad_id,price_total,ad_text,size,progress_cons,clean_coords,office_name,district,khoroo,mylocation,area,price
515,https://www.unegui.mn/adv/8411374_ondor-zeregl...,”®–Ω–¥”©—Ä –∑—ç—Ä—ç–≥–ª—ç–ª–∏–π–Ω –æ—Ñ—Ñ–∏—Å —Ç–∞—É—Ä—Ç,"–£–ë ‚Äî –°“Ø—Ö–±–∞–∞—Ç–∞—Ä, –°“Ø—Ö–±–∞–∞—Ç–∞—Ä, –•–æ—Ä–æ–æ 1",–ù–∏–π—Ç—ç–ª—Å—ç–Ω: 2025-06-09 22:06,8411374,10 –¢—ç—Ä–±—É–º ‚ÇÆ,"üìç”®–Ω–¥”©—Ä –∑—ç—Ä—ç–≥–ª—ç–ª–∏–π–Ω –æ—Ñ—Ñ–∏—Å —Ç–∞—É—Ä—Ç ”©–Ω–¥”©—Ä –¥–∞–≤—Ö–∞—Ä—Ç, ...",545 –º¬≤,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,47.912432 106.921754,None,–°“Ø—Ö–±–∞–∞—Ç–∞—Ä,1,–¢–∞–ª–±–∞–π,545.0,10000.0
1026,https://www.unegui.mn/adv/9330971_udirdlgyn-ak...,–£–¥–∏—Ä–¥–ª–∞–≥—ã–Ω –∞–∫–∞–¥–µ–º–∏ –±–∞—Ä—É—É–Ω —Ç–∞–ª–¥ —Ç–∏—Ç–∞–Ω —Ç–∞—É—Ä,"–£–ë ‚Äî –•–∞–Ω-–£—É–ª, –£–¥–∏—Ä–¥–ª–∞–≥—ã–Ω –ê–∫–∞–¥–µ–º–∏",–ù–∏–π—Ç—ç–ª—Å—ç–Ω: 2025-05-22 09:26,9330971,8.1 –¢—ç—Ä–±—É–º ‚ÇÆ,TITAN TOWER-—Ç –æ—Ñ—Ñ–∏—Å “Ø–∏ÃÜ–ª—á–∏–ª–≥—ç—ç–Ω–∏–∏ÃÜ —Ç–∞–ª–±–∞–∏ÃÜ —Ö—É–¥...,900 –º¬≤,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä–æ–æ–≥“Ø–π,47.897313 106.91261,N tower,–•–∞–Ω-–£—É–ª,,–ó–∞–π—Å–∞–Ω —Ö–æ–π–Ω–æ,900.0,8100.0
610,https://www.unegui.mn/adv/9355924_khotyn-aaa-b...,–•–æ—Ç—ã–Ω —Ç”©–≤–¥ –æ—Ñ—Ñ–∏—Å 850–º–∫ —Ç–∞–ª–±–∞–π,"–£–ë ‚Äî –°“Ø—Ö–±–∞–∞—Ç–∞—Ä, –°“Ø—Ö–±–∞–∞—Ç–∞—Ä, –•–æ—Ä–æ–æ 1",–ù–∏–π—Ç—ç–ª—Å—ç–Ω: 2025-06-08 16:12,9355924,7.5 –¢—ç—Ä–±—É–º ‚ÇÆ,"üìç""–ê—é—É–¥"" —Ç–∞—É—ç—Ä—Ç –¥–∞–≤—Ö—Ä–∞–∞—Ä –Ω—å –æ—Ñ—Ñ–∏—Å–∏–π–Ω —Ç–∞–ª–±–∞–π –∑–∞—Ä...",850 –º¬≤,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,47.912432 106.921754,None,–°“Ø—Ö–±–∞–∞—Ç–∞—Ä,1,–¢–∞–ª–±–∞–π,850.0,7500.0
57,https://www.unegui.mn/adv/9369577_bzd-khavdar-...,"–ë–∑–¥, —Ö–∞–≤–¥–∞—Ä —Å—É–¥–ª–∞–ª—ã–Ω –±—É—É–¥–∞–ª, gumuda plaza 960–º...","–£–ë ‚Äî –ë–∞—è–Ω–∑“Ø—Ä—Ö, 13-—Ä —Ö–æ—Ä–æ–æ–ª–æ–ª",–ù–∏–π—Ç—ç–ª—Å—ç–Ω: ”®–Ω”©”©–¥”©—Ä 10:54,9369577,6.72 –¢—ç—Ä–±—É–º ‚ÇÆ\n“Ø–Ω—ç —Ç–æ—Ö–∏—Ä–Ω–æ,"–ë–ó–î, –•–∞–≤–¥–∞—Ä —Å—É–¥–ª–∞–ª—ã–Ω –±—É—É–¥–∞–ª, Gumuda plaza 960–º...",960 –º¬≤,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä–æ–æ–≥“Ø–π,47.913249 106.938278,Gumuda plaza,–ë–∞—è–Ω–∑“Ø—Ä—Ö,,13-—Ä —Ö–æ—Ä–æ–æ–ª–æ–ª,960.0,6720.0
1245,https://www.unegui.mn/adv/9369577_bzd-khavdar-...,"–ë–∑–¥, —Ö–∞–≤–¥–∞—Ä —Å—É–¥–ª–∞–ª—ã–Ω –±—É—É–¥–∞–ª, gumuda plaza 960–º...","–£–ë ‚Äî –ë–∞—è–Ω–∑“Ø—Ä—Ö, 13-—Ä —Ö–æ—Ä–æ–æ–ª–æ–ª",–ù–∏–π—Ç—ç–ª—Å—ç–Ω: 2025-06-18 10:54,9369577,6.72 –¢—ç—Ä–±—É–º ‚ÇÆ\n“Ø–Ω—ç —Ç–æ—Ö–∏—Ä–Ω–æ,"–ë–ó–î, –•–∞–≤–¥–∞—Ä —Å—É–¥–ª–∞–ª—ã–Ω –±—É—É–¥–∞–ª, Gumuda plaza 960–º...",960 –º¬≤,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä–æ–æ–≥“Ø–π,47.913249 106.938278,Gumuda plaza,–ë–∞—è–Ω–∑“Ø—Ä—Ö,,13-—Ä —Ö–æ—Ä–æ–æ–ª–æ–ª,960.0,6720.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,https://www.unegui.mn/adv/9355976_21-horoolold...,21-r horoolold 141mkv office,"–£–ë ‚Äî –°–æ–Ω–≥–∏–Ω–æ—Ö–∞–π—Ä—Ö–∞–Ω, 21-—Ä —Ö–æ—Ä–æ–æ–ª–æ–ª",–ù–∏–π—Ç—ç–ª—Å—ç–Ω: 2025-06-03 16:33,9355976,2.6 —Å–∞—è ‚ÇÆ\n2.8 —Å–∞—è ‚ÇÆ,21-r horoolold office zarna,141 –º¬≤,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,47.919182 106.814799,None,–°–æ–Ω–≥–∏–Ω–æ—Ö–∞–π—Ä—Ö–∞–Ω,,21-—Ä —Ö–æ—Ä–æ–æ–ª–æ–ª,141.0,2.6
1125,https://www.unegui.mn/adv/8734912_dolgoon-nuur...,–°–±–¥ –¥”©–ª–≥”©”©–Ω –Ω—É—É—Ä—ã–Ω –∑“Ø“Ø–Ω —Ç–∞–ª–¥ computer mall –æ—Ñ—Ñ...,"–£–ë ‚Äî –°“Ø—Ö–±–∞–∞—Ç–∞—Ä, –°“Ø—Ö–±–∞–∞—Ç–∞—Ä, –•–æ—Ä–æ–æ 9",–ù–∏–π—Ç—ç–ª—Å—ç–Ω: ”®–Ω”©”©–¥”©—Ä 12:32,8734912,2.5 —Å–∞—è ‚ÇÆ\n“Ø–Ω—ç —Ç–æ—Ö–∏—Ä–Ω–æ,‚ú®–î”©–ª–≥”©”©–Ω –Ω—É—É—Ä—ã–Ω –∑“Ø“Ø–Ω —Ç–∞–ª–¥ Computer malld –æ—Ñ—Ñ–∏—Å...,434 –º¬≤,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,47.931917 106.912458,None,–°“Ø—Ö–±–∞–∞—Ç–∞—Ä,9,–î”©–ª–≥”©”©–Ω –Ω—É—É—Ä,434.0,2.5
699,https://www.unegui.mn/adv/8734912_dolgoon-nuur...,–°–±–¥ –¥”©–ª–≥”©”©–Ω –Ω—É—É—Ä—ã–Ω –∑“Ø“Ø–Ω —Ç–∞–ª–¥ computer mall –æ—Ñ—Ñ...,"–£–ë ‚Äî –°“Ø—Ö–±–∞–∞—Ç–∞—Ä, –°“Ø—Ö–±–∞–∞—Ç–∞—Ä, –•–æ—Ä–æ–æ 9",–ù–∏–π—Ç—ç–ª—Å—ç–Ω: 2025-06-05 12:22,8734912,2.5 —Å–∞—è ‚ÇÆ\n“Ø–Ω—ç —Ç–æ—Ö–∏—Ä–Ω–æ,‚ú®–î”©–ª–≥”©”©–Ω –Ω—É—É—Ä—ã–Ω –∑“Ø“Ø–Ω —Ç–∞–ª–¥ Computer malld –æ—Ñ—Ñ–∏—Å...,434 –º¬≤,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,47.931917 106.912458,None,–°“Ø—Ö–±–∞–∞—Ç–∞—Ä,9,–î”©–ª–≥”©”©–Ω –Ω—É—É—Ä,434.0,2.5
634,https://www.unegui.mn/adv/9151717_3-4-khoroolo...,"–ë–≥–¥ 3, 4 —Ö–æ—Ä–æ–æ–ª–æ–ª–¥ –æ—Ñ—Ñ–∏—Å 120–º–∫ —Ç–∞–ª–±–∞–π","–£–ë ‚Äî –ë–∞—è–Ω–≥–æ–ª, 3, 4 —Ö–æ—Ä–æ–æ–ª–æ–ª",–ù–∏–π—Ç—ç–ª—Å—ç–Ω: 2025-06-07 11:32,9151717,2.4 —Å–∞—è ‚ÇÆ\n“Ø–Ω—ç —Ç–æ—Ö–∏—Ä–Ω–æ,üíé 3.4 —Ö–æ—Ä–æ–æ–ª–æ–ª –¥“Ø“Ø—Ö—ç—ç —Ç”©–≤–∏–π–Ω —É—Ä–¥ –∞–∂–∏–ª –æ—Ñ—Ñ–∏—Å —á...,120 –º¬≤,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,47.924395 106.87749,None,–ë–∞—è–Ω–≥–æ–ª,,"3, 4 —Ö–æ—Ä–æ–æ–ª–æ–ª",120.0,2.4
1360,https://www.unegui.mn/adv/9151717_3-4-khoroolo...,"–ë–≥–¥ 3, 4 —Ö–æ—Ä–æ–æ–ª–æ–ª–¥ –æ—Ñ—Ñ–∏—Å 120–º–∫ —Ç–∞–ª–±–∞–π","–£–ë ‚Äî –ë–∞—è–Ω–≥–æ–ª, 3, 4 —Ö–æ—Ä–æ–æ–ª–æ–ª",–ù–∏–π—Ç—ç–ª—Å—ç–Ω: ”®–Ω”©”©–¥”©—Ä 11:34,9151717,2.4 —Å–∞—è ‚ÇÆ\n“Ø–Ω—ç —Ç–æ—Ö–∏—Ä–Ω–æ,üíé 3.4 —Ö–æ—Ä–æ–æ–ª–æ–ª –¥“Ø“Ø—Ö—ç—ç —Ç”©–≤–∏–π–Ω —É—Ä–¥ –∞–∂–∏–ª –æ—Ñ—Ñ–∏—Å —á...,120 –º¬≤,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,47.924395 106.87749,None,–ë–∞—è–Ω–≥–æ–ª,,"3, 4 —Ö–æ—Ä–æ–æ–ª–æ–ª",120.0,2.4

1 –º.–∫–≤-–∏–π–Ω “Ø–Ω–∏–π–≥ –±–æ–¥–æ–∂ –≥–∞—Ä–≥–∞—Ö

In [31]:
df = df[(df['price'] < 15) | (df['price'] > 50)]  # 15-—Å 50-–∏–π–Ω —Ö–æ–æ—Ä–æ–Ω–¥–æ—Ö —É—Ç–≥—ã–≥ —Ö–∞—Å–∞—Ö

In [32]:
df['price_m2'] = df['price']

In [33]:
mask = df['price'] > 15 #15-—Å –∏—Ö —É—Ç–≥—É—É–¥—ã–≥ –º–∞—Å–∫ –±–æ–ª–≥–æ–∂ –∞–≤–Ω–∞. 
df.loc[mask, 'price_m2'] = df.loc[mask, 'price'] / df.loc[mask, 'area'] #15-—Å –∏—Ö —É—Ç–≥—ã–≥ —Ç–∞–ª–±–∞–π–¥ –Ω—å —Ö—É–≤–∞–∞–∂ 1 –º.–∫–≤ “Ø–Ω–∏–π–≥ –≥–∞—Ä–≥–∞–Ω–∞
df['price_m2'] = df['price_m2'].round(2) # 10-–Ω—ã –æ—Ä–Ω–æ–æ—Ä –±“Ø—Ö—ç–ª—á–ª—ç–≤.

1 –º.–∫–≤-–∏–π–Ω “Ø–Ω—ç—ç—Ä –±–∞–π–≥–∞–∞–≥ –Ω–∏–π—Ç “Ø–Ω—ç –±–æ–ª–≥–æ—Ö

In [34]:
mask = df['price'] < 15 #15-—Å –∏—Ö —É—Ç–≥—É—É–¥—ã–≥ –º–∞—Å–∫ –±–æ–ª–≥–æ–∂ –∞–≤–Ω–∞. 
df.loc[mask, 'price'] = df.loc[mask, 'price_m2'] * df.loc[mask, 'area'] # 1 –º.–∫–≤-–∞–∞—Ä –±–∞–π–≥–∞–∞ “Ø–Ω–∏–π–≥ –Ω–∏–π—Ç “Ø–Ω—ç –±–æ–ª–≥–æ—Ö
df['price'] = df['price'].round(2) # 10-–Ω—ã –æ—Ä–Ω–æ–æ—Ä –±“Ø—Ö—ç–ª—á–ª—ç–≤.

In [35]:
df.sort_values(by='price_m2', ascending=False)[['office_name','price', 'area', 'price_m2', 'ad_id']]

         office_name    price   area  price_m2    ad_id
515             None  10000.0  545.0     18.35  8411374
1097  Minister Tower   1940.0  130.0     14.92  8891578
1321  Minister Tower   1940.0  130.0     14.92  8891578
1238  Minister Tower   1743.3  117.0     14.90  8999119
49    Minister Tower   1743.3  117.0     14.90  8999119
...              ...      ...    ...       ...      ...
96              None     80.0   53.0      1.51  9456693
1277            None     80.0   57.0      1.40  9457079
91              None     80.0   57.0      1.40  9457079
717             None     77.2  285.0      0.27  9415257
281             None    130.0  680.0      0.19  9139226

[1511 rows x 5 columns]

### –û–≥–Ω–æ–æ–≥ —Ö—É–≤–∏—Ä–≥–∞—Ö

In [36]:
import pandas as pd
from datetime import datetime, timedelta

# –û–¥–æ–æ–≥–∏–π–Ω –æ–≥–Ω–æ–æ–≥ –∞–≤–Ω–∞ (2025-06-20 14:09 –≥—ç–∂ –∞–≤—á –±–∞–π–Ω–∞)
today = datetime.now().replace(hour=0, minute=0, second=0, microsecond=0)
yesterday = today - timedelta(days=1)

# –û–≥–Ω–æ–æ–≥ —Ö”©—Ä–≤“Ø“Ø–ª—ç—Ö —Ñ—É–Ω–∫—Ü
def parse_date(text):
    date_str = text.replace("–ù–∏–π—Ç—ç–ª—Å—ç–Ω: ", "").strip()
    if date_str.startswith("”®–Ω”©”©–¥”©—Ä"):
        time_str = date_str.replace("”®–Ω”©”©–¥”©—Ä ", "").strip()
        return datetime.strptime(f"{today.strftime('%Y-%m-%d')} {time_str}", "%Y-%m-%d %H:%M")
    elif date_str.startswith("”®—á–∏–≥–¥”©—Ä"):
        time_str = date_str.replace("”®—á–∏–≥–¥”©—Ä ", "").strip()
        return datetime.strptime(f"{yesterday.strftime('%Y-%m-%d')} {time_str}", "%Y-%m-%d %H:%M")
    else:
        return datetime.strptime(date_str, "%Y-%m-%d %H:%M")

# –û–≥–Ω–æ–æ–≥ —Ö”©—Ä–≤“Ø“Ø–ª—ç—Ö
df["parsed_date"] = df["date"].apply(parse_date)
# –û–≥–Ω–æ–æ, —Ü–∞–≥–∏–π–≥ —Ç—É—Å–∞–¥ –Ω—å –±–∞–≥–∞–Ω–∞–¥ –æ—Ä—É—É–ª–∞—Ö
df["date"] = df["parsed_date"].dt.strftime("%Y-%m-%d")
df["time"] = df["parsed_date"].dt.strftime("%H:%M")

### –•—ç—Ä—ç–≥–≥“Ø–π –±–∞–≥–∞–Ω–∞ —É—Å—Ç–≥–∞–∂ —Ñ–∞–π–ª —Ö–∞–¥–≥–∞–ª–∞—Ö

–•—ç—Ä—ç–≥–≥“Ø–π –±–∞–≥–∞–Ω–∞ —É—Å—Ç–≥–∞—Ö

In [37]:
df.drop(columns=['location', 'price_total', 'size', 'parsed_date'], inplace=True)

–ó”©–≤ –¥–∞—Ä–∞–∞–ª–ª–∞–∞—Ä Dataframe “Ø“Ø—Å–≥—ç—Ö

In [38]:
df2 = df[['ad_id', 'district', 'khoroo', 'mylocation','office_name','price', 'area', 'price_m2', 'progress_cons','title', 'ad_text', 'clean_coords','url', 'date', 'time']]

–û—Ñ—Ñ–∏—Å—ã–Ω –Ω—ç—Ä, –Ω–∏–π—Ç “Ø–Ω—ç, —Ç–∞–ª–±–∞–π–Ω —Ö—ç–º–∂—ç—ç –¥–∞–≤—Ö–∞—Ü—Å–∞–Ω –∑–∞—Ä—É—É–¥—ã–≥ —É—Å—Ç–≥–∞—Ö

In [ ]:
df2.drop_duplicates(subset=['office_name', 'price', 'area'], keep='first', inplace=True)

C:\Users\Rentsen.Ts\AppData\Local\Temp\ipykernel_16996\3988909826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop_duplicates(subset=['office_name', 'price', 'area'], keep='first', inplace=True)

,ad_id,district,khoroo,mylocation,office_name,price,area,price_m2,progress_cons,title,ad_text,clean_coords,url,date,time
0,9299916,–ß–∏–Ω–≥—ç–ª—Ç—ç–π,,–ë–∞—è–Ω–±“Ø—Ä–¥,Tasgan tower,482.04,74.0,6.51,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,–¢–∞—Å–≥–∞–Ω —Ç–æ–≤–µ—Ä—Ç –æ—Ñ—Ñ–∏—Å 74–º–∫ —Ç–∞–ª–±–∞–π,–•—É–≤—å –ª–∏–∑–∏–Ω–≥ —Ö–∏–π—Ö –±–æ–ª–æ–º–∂—Ç–æ–π\n–ë–∏–∑–Ω–µ—Å —ç—Ä—Ö–ª—ç–≥—á–∏–¥ –±...,47.9278806292485 106.90571821241,https://www.unegui.mn/adv/9299916_tasgan-tover...,2025-06-30,09:12
1,9451753,–ß–∏–Ω–≥—ç–ª—Ç—ç–π,5,5-—Ä —Å—É—Ä–≥—É—É–ª—å,Tasgan tower,254.41,39.0,6.52,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,–¢–∞—Å–≥–∞–Ω —Ç–∞—É—Ä—Ç 39.14–º–∫–≤ –æ—Ñ—Ñ–∏—Å —Ç–∞–ª–±–∞–π,–¢–∞—Å–≥–∞–Ω —Ç–∞—É—Ä—Ç 39.14–º–∫–≤ –æ—Ñ—Ñ–∏—Å —Ç–∞–ª–±–∞–π —Ö—É–¥–∞–ª–¥–∞–Ω–∞.\...,47.92397 106.902687,https://www.unegui.mn/adv/9451753_tasgan-taurt...,2025-06-30,06:18
2,9457746,–•–∞–Ω-–£—É–ª,17,–ó–∞–π—Å–∞–Ω —Ö–æ–π–Ω–æ,Uniq center,474.50,65.0,7.30,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,–•–∞–Ω-—É—É–ª –∏-–º–∞—Ä—Ç—ã–Ω —É—Ä–¥ –æ—Ñ—Ñ–∏—Å,–•–∞–Ω-–£—É–ª E-mart —Ö—É–¥–∞–ª–¥–∞–∞–Ω—ã —Ç”©–≤–∏–π–Ω —É—Ä–¥ —Ç”©–≤ –∑–∞–º –¥...,47.8927222013864 106.923521825545,https://www.unegui.mn/adv/9457746_khan-uul-i-m...,2025-06-29,22:27
3,9455848,–°“Ø—Ö–±–∞–∞—Ç–∞—Ä,,–¢–∞–ª–±–∞–π,None,1400.00,210.0,6.67,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,–¢–∞–ª–±–∞–π–Ω –±–∞—Ä—É—É–Ω —Ç–∞–ª–¥ –¥–∞–≤—Ö–∞—Ä –±“Ø—Ö–ª—ç—ç—Ä—ç—ç –æ—Ñ—Ñ–∏—Å 210–º–∫–≤,–¢”©–≤ —Ç–∞–ª–±–∞–π–Ω –±–∞—Ä—É—É–Ω —Ç–∞–ª–¥ –¢”©–≤ —à—É—É–¥–∞–Ω–≥–∏–π–Ω –∞—Ä–¥ –¥–∞–≤...,47.9188290307491 106.917622814522,https://www.unegui.mn/adv/9455848_talbain-baru...,2025-06-29,14:14
4,9432720,–ß–∏–Ω–≥—ç–ª—Ç—ç–π,5,5-—Ä —Å—É—Ä–≥—É—É–ª—å,Tasgan tower,175.00,34.0,5.15,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,–¢–∞—Å–≥–∞–Ω —Ç–∞—É—Ä—Ç –æ—Ñ—Ñ–∏—Å—ã–Ω 33.44 –º–∫–≤ —Ç–∞–ª–±–∞–π,"ùóôùó¢ùó• ùó¶ùóîùóüùóò\n–ß–∏–Ω–≥—ç–ª—Ç—ç–π –¥“Ø“Ø—Ä—ç–≥ ùü±-ùóΩ ùòÖùóºùóΩùóºùóº, –£–ª–∞–∞–Ω–±–∞–∞...",47.92397 106.902687,https://www.unegui.mn/adv/9432720_tasgan-taurt...,2025-06-29,12:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,9473048,–ë–∞—è–Ω–≥–æ–ª,,–ë–∞—Ä—É—É–Ω 4 –∑–∞–º,Grand office,1380.00,241.0,5.73,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,"–ë–∞—Ä—É—É–Ω 4-–Ω –∑–∞–º, –≥—Ä–∞–Ω–¥ –ø–ª–∞–∑–∞ –æ—Ñ—Ñ–∏—Å",üìç–ì–†–ê–ù–î –ü–õ–ê–ó–ê-–¥ –æ—Ñ—Ñ–∏—Å —Ç–∞–ª–±–∞–π –∑–∞—Ä–Ω–∞.\n‚úîÔ∏è242.1–º–∫–≤...,47.916677 106.897889,https://www.unegui.mn/adv/9473048_baruun-4-n-z...,2025-06-22,17:55
1489,9470164,–•–∞–Ω-–£—É–ª,,–Ø–∞—Ä–º–∞–≥,Business tower,5808.00,484.0,12.00,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,Mcu business tower-—Ç 484 –º–∫–≤ –æ—Ñ—Ñ–∏—Å,"üìç–Ø–∞—Ä–º–∞–≥, –•–æ—Ç—ã–Ω –∑–∞—Ö–∏—Ä–≥–∞–∞–Ω—ã —É—Ä–¥ MCU Business Tow...",47.872371 106.814446,https://www.unegui.mn/adv/9470164_mcu-business...,2025-06-21,16:02
1493,9469601,–ë–∞—è–Ω–≥–æ–ª,,"3, 4 —Ö–æ—Ä–æ–æ–ª–æ–ª",None,316.00,115.0,2.75,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,"3,4 —Ö–æ—Ä–æ–æ–ª–æ–ª –≥—É—Ä–≤–∞–Ω –±–∏–ª—ç–≥ –∏—Ö –¥—ç–ª–≥“Ø“Ø—Ä–∏–π–Ω 4 –¥–∞–≤—Ö...",üè† 3.4 –•–û–†–û–û–õ–û–õ–î –û–§–§–ò–°–û–û–† –ê–ñ–ò–õ–õ–£–£–õ–ñ –ë–û–õ–û–• 4 ”®–†”®...,47.924395 106.87749,https://www.unegui.mn/adv/9469601_3-4-khoroolo...,2025-06-21,13:46
1496,9296878,–•–∞–Ω-–£—É–ª,,–¶—ç–Ω–≥—ç–ª–¥—ç—Ö,None,600.00,75.0,8.00,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,–•—É–¥ —Å—É—Ä–≥–∞–ª—Ç—ã–Ω —á–∏–≥–ª—ç–ª—ç—ç—Ä –∞—à–∏–≥–ª–∞–∂ –±–∞–π—Å–∞–Ω “Ø–π–ª—á–∏–ª–≥...,"üìç–•–æ—Ç—ã–Ω —Ç”©–≤, 120–º—è–Ω–≥–∞—Ç, SS garden-—ã –±–∞—Ä—É—É–Ω —Ç–∞–ª–¥...",47.903727020255 106.916193816954,https://www.unegui.mn/adv/9296878_surgaltyn-ch...,2025-06-21,12:05
1507,9468646,–ß–∏–Ω–≥—ç–ª—Ç—ç–π,,–ë–∞—è–Ω–±“Ø—Ä–¥,None,210.00,51.0,4.12,–ê—à–∏–≥–ª–∞–ª—Ç–∞–¥ –æ—Ä—Å–æ–Ω,–ë–∞—è–Ω–±“Ø—Ä–¥—ç–¥ –æ—Ñ—Ñ–∏—Å,–ë–∞—è–Ω–±“Ø—Ä–¥—ç–¥ 50.44–º–≤–∫ –æ—Ñ—Ñ–∏—Å —Ö—É–¥–∞–ª–¥–∞–Ω–∞.\n‚úÖ 12/9\n...,47.928945 106.906205,https://www.unegui.mn/adv/9468646_baianburded-...,2025-06-21,08:45

Dataframe —Ö–∞–¥–≥–∞–ª–∞—Ö

In [40]:
# 'result' —Ñ–æ–ª–¥–µ—Ä “Ø“Ø—Å–≥—ç—Ö
folder_path = "result"
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# –§–∞–π–ª—ã–≥ 'result' —Ñ–æ–ª–¥–µ—Ä—Ç —Ö–∞–¥–≥–∞–ª–∞—Ö
file_path = os.path.join(folder_path, "output_06_25.csv")
df2.to_csv(file_path, index=False,  encoding='utf-8-sig')

PermissionError: [Errno 13] Permission denied: 'result\\output_06_25.csv'