In [33]:
import pandas as pd
import folium

In [34]:
df_val = pd.read_excel('D:/Projects/Office/04_Excel/Negtgel_office.xlsx', sheet_name='2', header=1)
df_val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   №                    191 non-null    int64
 1   Дүүрэг               191 non-null    object
 2   Хороо                191 non-null    int64
 3   Байрны дугаар        185 non-null    object
 4   ZIP бүс              162 non-null    float64
 5   Барилгын нэр         183 non-null    object
 6   Бүтээц               191 non-null    object
 7   Нийт давхарын тоо    190 non-null    float64
 8   Ашиглалтад орсон он  182 non-null    object
 9   Гудамжны нэр         185 non-null    object
 10  Үнэлгээ              191 non-null    int64
 11  lat                  191 non-null    float64
 12  lon                  191 non-null    float64
 13  Large                191 non-null    int64
 14  Байрны дугаар.1      2 non-null      object
 15  Координат            191 non-null    object
dtypes: float64(4), int64(4), object(8)
memory usage: 24.0+ KB

In [35]:
import folium

# Газрын зургийн төв координат
map_center = [47.918873, 106.917701]
m = folium.Map(location=map_center, zoom_start=13)

# Marker нэмэх
for idx, row in df_val.iterrows():
    coord = row['Координат']
    if isinstance(coord, str) and ',' in coord:
        try:
            lat, lon = map(float, coord.split(','))
            
            # Popup мэдээлэл
            popup_text = f"""
            <b>Оффис:</b> {row.get('Барилгын нэр', '')}<br>
            <b>Дүүрэг:</b> {row.get('Дүүрэг', '')}<br>
            <b>Хороо:</b> {row.get('Хороо', '')}<br>
            <b>Байрны дугаар:</b> {row.get('Байрны дугаар', '')}<br>
            <b>Ашиглалтад орсон:</b> {row.get('Ашиглалтад орсон он', '')}<br>            
            <b>Давхар:</b> {row.get('Нийт давхарын тоо', '')}<br>
            <b>Үнэлгээ:</b> {row.get('Үнэлгээ', '')}
            """
        

            folium.Marker(
                location=[lat, lon],
                popup=folium.Popup(popup_text, max_width=300),
                icon=folium.Icon(color='blue', icon='building')
            ).add_to(m)
        except ValueError:
            print(f"Invalid coordinate: {coord}")

# Газрын зургийг HTML файлд хадгалах
m.save("Valuation_live.html")

In [36]:
df_val

,№,Дүүрэг,Хороо,Байрны дугаар,ZIP бүс,Барилгын нэр,Бүтээц,Нийт давхарын тоо,Ашиглалтад орсон он,Гудамжны нэр,Үнэлгээ,lat,lon,Large,Байрны дугаар.1,Координат
0,1,СБД,1,59,14250.0,Эко интернэйшнл тауэр,Төмөр бетон арагт,NaN,2023,Энх тайвaны өргөн чөлөө,12000000,47.916518,106.914441,0,NaN,"47.916518, 106.914441"
1,2,СБД,1,NaN,14251.0,MCS plaza,Төмөр бетон арагт,5.0,NaN,NaN,7500000,47.914835,106.913159,0,NaN,"47.914835, 106.913159"
2,3,СБД,1,6/1,14251.0,Сity plaza,Төмөр бетон арагт,6.0,2006,Сөүлийн гудамж,5000000,47.914915,106.911975,0,NaN,"47.914915, 106.911975"
3,4,СБД,1,6/2,14251.0,Od plaza,Төмөр бетон арагт,5.0,2006,Сөүлийн гудамж,5000000,47.914979,106.912389,0,NaN,"47.914979, 106.912389"
4,5,СБД,1,21,14251.0,Newcom group,Төмөр бетон арагт,10.0,2006,Сөүлийн гудамж,5000000,47.914723,106.911557,0,NaN,"47.914723, 106.911557"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,190,БГД,26,52,16020.0,Autohub,Төмөр бетон арагт,5.0,2019,Туул гол гудамж,6000000,47.905400,106.905634,0,NaN,"47.905400, 106.905634"
187,191,БГД,27,92,NaN,UB platinium,Төмөр бетон арагт,7.0,2012,Энх тайвaны өргөн чөлөө,4000000,47.913740,106.873147,0,NaN,"47.913740, 106.873147"
188,192,БГД,27,24,16052.0,WM Tower,Төмөр бетон арагт,9.0,2016,П.Жасрайн гудамж,4000000,47.911262,106.876992,0,NaN,"47.911262, 106.876992"
189,193,БГД,27,24/1,16052.0,WM Tower,Төмөр бетон арагт,9.0,2016,П.Жасрайн гудамж,4000000,47.911435,106.877007,0,NaN,"47.911435, 106.877007"
190,194,СХД,29,19,18072.0,Dragon center,Төмөр бетон арагт,7.0,2015,Москвагийн гудамж,3500000,47.910890,106.820440,0,NaN,"47.910890, 106.820440"